{
  "allowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "parser": "typescript",
  "printWidth": 80,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}